font-family = "FiraCode Nerd Font Mono"
font-family-italic = "Fira Mono Regular Italic"
font-family-bold-italic = "Fira Mono Bold Italic"
font-size = 16
font-thicken = true
adjust-cell-height = 1

window-theme = system

macos-option-as-alt = true
macos-titlebar-style = native

quit-after-last-window-closed = true
